*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


h2 {
  background-color: palegreen;
}

.input-box{
  background-color: aqua;

}

.remember-forget{
  background-color: cornflowerblue;

}

button{
  width: 100%;
  background-color: beige;
  margin: 0px;
  padding: 0px;
}

.register{
  background-color: powderblue;
}



body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;

}


.login-box{
  position: relative;
  background-color: red;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

